button {
  color: black !important;
}
/* .create_Group_btn {
  padding: 6px 45px !important;
  border-radius: 15px;
  border: none;//left side empty blue button
  cursor: pointer;
  color: white !important;
  outline: none;
  background-color: #1fb0f7;
} */

header button {
  background: rgb(116, 165, 183);
  width: 100px;
  outline: none;
  color: white !important;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  padding: 4px 0px;
}

.profileImageRightSide {
  width: 100% !important;
  margin-right: 1rem;
  border-radius: 50%;
}
.nameContainer {
  margin: 0 0.8rem;
}

/* Container LEFT CSS END */

/* Container Right CSS Start */

.main_Header_Container {
  display: flex;
  justify-content: space-between;
  padding: 0.1rem;
}

.container_Calls_Icons {
  display: flex;
  align-items: center;
}

.container_Calls_Icons img {
  margin: 0 1rem;
  width: 25px;
  cursor: pointer;
}

.name h5 {
  font-size: 1.1rem;
  color: black !important;
}

.date {
  font-size: 9px !important;
}

/* Container right CSS END */

/* Form Validator start */
#warnings {
  color: rgb(232, 243, 23);
  font-size: 11px;
}

#timerForOTP {
  display: flex;
  justify-content: center;
  font-size: 11px;
}

.success {
  margin: 1rem 0;
  color: rgb(68, 246, 169) !important;
  font-size: 0.8rem;
}

#warnings span {
  font-size: 0.9rem;
  color: yellow;
  padding-right: 0.3rem;
}

.warning_Input {
  border: 1px solid rgb(210 211 73);
}

/* Form Validator start */

/* checking chat app actual */

.messages {
  display: flex;
  margin: 2rem;
}
#single {
  margin: 12rem 39rem;
}

#message {
  color: black !important;
  margin: 30rem 4rem;
}
