.chatList {
  flex: 1;
  overflow-y: auto;
  padding: 0.5rem 0;
}

.chat-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.blurred-background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(2px);
  transform: scale(1.1);
}

.viewImageRealImage {
  height: -webkit-fill-available !important;
}

:root {
  ----background-gradient: #f6f6f6;
  ----secondary-background-gradient: #ffffff;
}
/* All Left Side css start */

.create_Group {
  display: flex;
  justify-content: space-between;
  width: inherit;
  align-items: center;
  font-size: 17px;
  margin: 0 1rem;
}
.create_Group div {
  font-size: 0.7dvw !important;
}

.create_Group h3 {
  font-size: 15px;
}

.blank {
  display: flex;
  justify-content: center;
  transform: translateY(448px);
  font-size: 2rem;
}

.darkAndLightMode {
  display: flex;
  width: 10vw;
  margin: 4rem 54rem;
  align-items: center;
  flex-direction: column;
  border: 2px solid black;
}

.darkAndLightMode:first-child {
  width: 10vw;
  border-bottom: 2px solid rgb(53, 118, 10);
  background: red;
}
.main_GRPI {
  box-shadow: 1px 1px 8px rgb(61, 59, 59);
  background: white;
}
.Left_Side_Empty_svg {
  width: 350px;
  height: 200px;
}
